@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to bottom, #000000, #25074e);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
}

* {
    font-family: "Times New Roman", Times, serif;
}

#app {
    padding: 10px 20px;
}

.placeholder-logo {
    color: #fff;
}

.nav-wrapper {
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 10px;
}

.header-p {
    font-size: 30px;
}

.listed-ads {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 90px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ads-header-p {
    font-size: 20px;
}

input,
textarea {
    display: flex;
    flex-direction: column;
    color: #030242;
    max-width: 220px;
    width: 100%;
}

.body-p {
    color: rgb(121, 121, 255);
}

.ad-title {
    border-bottom: 2px solid yellow;
    display: inline-block;
    margin-bottom: 15px;
}

li {
    border: 1px solid rgb(119, 0, 255);
    padding: 10px 20px;
}
